$cols-total: 24;

.cols {
    letter-spacing: -.31em;
    text-rendering: optimizespeed;
    flex-flow: row wrap;
    display: flex;
}

.cols--center {
    align-items: center;
    justify-content: center;
}

.cols--stretch { min-height: 100%; }

[class*="cols__"] {
    display: inline-block;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;
}

.cols__1 { width: 100% / $cols-total }

@for $i from 2 through $cols-total {
    .cols__#{$i} {
        width: (100% / ($cols-total / $i))
    }
}

@include screen-small {
    .cols__1--sm { width: 100% / $cols-total }

    @for $i from 2 through $cols-total {
        .cols__#{$i}--sm {
            width: (100% / ($cols-total / $i));
        }
    }
}

@include screen-medium {
    .cols__1--md { width: 100% / $cols-total }

    @for $i from 2 through $cols-total {
        .cols__#{$i}--md {
            width: (100% / ($cols-total / $i));
        }
    }
}

@include screen-large {
    .cols__1--lg { width: 100% / $cols-total }

    @for $i from 2 through $cols-total {
        .cols__#{$i}--lg {
            width: (100% / ($cols-total / $i));
        }
    }
}
@include screen-xlarge {
    .cols__1--xlg { width: 100% / $cols-total }

    @for $i from 2 through $cols-total {
        .cols__#{$i}--xlg {
            width: (100% / ($cols-total / $i));
        }
    }
}