/*------------------------------------*\
    #CONTENT
\*------------------------------------*/

.content {
	padding: $base-spacing;
}

.content__main {
	background: $content-background;
	padding: $base-spacing;
}

@include screen-mobile {
	.content {
		width: 100vw;
		height: 100vh;
		overflow: auto;
		-webkit-overflow-scrolling: touch;
	}
}

@include screen-small {
	.content {
		width: $content-width--small;
	}

	.content__header {
		height: $content-header-height;
	}
}

@include screen-medium {
	.content,
	.content__main {
		padding: $base-spacing * 2;
	}

	.content {
		width: $content-width--medium;
	}
}