/*------------------------------------*\
    #ICON
\*------------------------------------*/

$fonts-dir: "/assets/fonts/satchel";
$fonts-cachebusting: "jkonwl";

// DON'T EDIT THIS - START
@font-face {
	font-family: 'satchel';
	src:url("#{$fonts-dir}.eot?#{$fonts-cachebusting}");
	src:url("#{$fonts-dir}.eot?#iefix#{$fonts-cachebusting}") format('embedded-opentype'),
		url("#{$fonts-dir}.woff?#{$fonts-cachebusting}") format('woff'),
		url("#{$fonts-dir}.ttf?#{$fonts-cachebusting}") format('truetype'),
		url("#{$fonts-dir}.svg?#{$fonts-cachebusting}#satchel") format('svg');
	font-weight: normal;
	font-style: normal;
}
// END

.icon {
	font-family: 'satchel';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon--receipt:before {
	content: "\e600";
}

.icon--work:before {
	content: "\e601";
}

.icon--recent-actors:before {
	content: "\e602";
}

.icon--menu:before {
	content: "\e603";
}

.icon--folder-special:before {
	content: "\e604";
}

.icon--notifications-on:before {
	content: "\e605";
}

.icon--people:before {
	content: "\e606";
}
