/*------------------------------------*\
    #LOGO
\*------------------------------------*/

.logo {
	text-transform: uppercase;
	color: $logo-color !important;
	font-weight: 300;
	letter-spacing: -1px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

.logo--alt {
	color: $alt-logo-color !important;
}