/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav,
.nav__wrapper {
	@extend %reset;
}

.nav__item,
.nav__link {
	transition: all .2s;
}

.nav__item {
	position: relative;
}

.nav__link {
	display: block;
	padding: $base-spacing;
	outline: none !important;
	font-weight: 300;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}

.nav--alt {
	.nav__wrapper {
		padding-bottom: $base-spacing;
	}

	.nav__title {
		text-transform: uppercase;
		color: $nav-title-color;
		margin-top: $base-spacing;
		padding: $base-spacing;

		@extend small;
	}

	.nav__link {
		&, &:active, &:focus, &:visited {
			color: $alt-link-color;
		}
	}

	.icon {
		vertical-align: middle;
		margin-right: $base-spacing;
	}
	
	.nav__label {
		display: inline-block;
		vertical-align: middle;
	}

	.nav__item {
		padding-left: $nav-pipe-width;
		width: 99.9%;

		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 0em;
			height: 100%;
			background: rgba($nav-pipe-color, 0);
			transition: all .2s;
		}
	}

	.nav__item--selected {
		background: $alt-color--3;

		&:before {
			width: $nav-pipe-width;
			background: rgba($nav-pipe-color, 1);
		}
	}

	.nav__item--selected .nav__link {
		color: $alt-link-color--selected;
	}
}