/*------------------------------------*\
    #OVERLAY
\*------------------------------------*/

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	//background: $alt-color--1;
	opacity: 0;
	z-index: -1;
	transition: opacity .5s $base-easing;
}

.overlay--visible {
	opacity: .5;
	z-index: 6;
}