.pace {
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: $alt-link-color;
    position: fixed;
    z-index: 2000;
    top: 0;
    right: 100%;
    width: 100%;
    height: .25em;
}