/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/

.sidebar {
	position: relative;

	h1,h2,h3,h4,h5,h6 {
		color: $alt-headings-color;
	}

	p {
		color: $alt-text-color;
	}

	a { 
		color: $alt-link-color;
	}
}

.sidebar-trigger {
	display: none;
}

.sidebar__back {
	background: $alt-color--1;
	padding: $base-spacing;
}

.sidebar__front {
	background: $alt-color--2;
	overflow: hidden;
}

.sidebar__header {
	height: $sidebar-header-height;
}

.sidebar__section {
	padding: $base-spacing;
	border-bottom: $sidebar-border-style;

	&:last-child {
		border-bottom: 0;
	}
}

.sidebar__toggler {
	display: none;
	@extend %no-select;
}

.sidebar__text {
	text-transform: uppercase;

	@extend small;
}

@include screen-mobile {
	.sidebar-trigger,
	.sidebar {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
	}

	.sidebar {
		z-index: 2;
		width: $sidebar-width--mobile;
		transition: transform .5s;
		transition-timing-function: $base-easing;
		transform: translateX(-100%) translateZ(0);
	}

	.sidebar-trigger {
		display: block;
		width: $base-spacing * 2;
		z-index: 1;
	}

	.sidebar--visible {
		transform: translateX(0);
		z-index: 7;
	}

	.sidebar__wrapper {
		overflow-y: auto;
		height: 100%;
		-webkit-overflow-scrolling: touch;
	}

	.sidebar__toggler {
		display: block;
		position: absolute;
		top: 0;
		left: 99.9%; // Android workaround
		width: 4em;
		padding: $base-spacing / 2;
		background: $alt-color--1;
		text-align: center;
		cursor: pointer;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

		@extend %no-select;
	}

	.sidebar--visible {
		transform: translateX(0);
		z-index: 7;
	}

	.sidebar__icon,
	.sidebar__text {
		color: $alt-link-color;
	}
}

@include screen-small {
	.sidebar {
		width: $sidebar-width--small;
	}

	.sidebar__wrapper {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
	}

	.sidebar__back {
		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;
		z-index: 1;
		display: inline-block;
	}

	.sidebar__front {
		margin-top: $sidebar-nav-distance;
		position: relative;
		z-index: 2;
	}
}

@include screen-medium {
	.sidebar {
		width: $sidebar-width--medium;
	}
}