/*------------------------------------*\
    #USER
\*------------------------------------*/

.user {

}

.user--panel {

	.user__image,
	.user__details {
		display: inline-block;
		vertical-align: middle; 
	}

	.user__image {
		width: $user-panel-image-width;
		height: $user-panel-image-height;
		background-position: center center; 
		background-size: 100% auto;
		border: $user-image-border-style;

		@extend %circle;
		@extend .space--right;
	}
}