<h1 class="page-header">Edit Client Details</h1>

<form>
	<div class="form-group">
		<label for="exampleInputEmail1">Name</label>
		<input class="form-control" ng-model="EditClient.Client.name">
	</div>
	<button ng-click="EditClient.updateClientDetails(EditClient.Client.id, { name: EditClient.Client.name })" class="btn btn-primary">Update</button>

	<a ng-href="#/client-manager" class="btn btn-default">Back to Client Manager</a>
</form>
