/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Breakpoints
 */

 @mixin screen-mobile () {
    @media screen and (max-width: $screen-small) {
        @content;
    }
}

@mixin screen-small () {
    @media screen and (min-width: $screen-small) {
        @content;
    }
}

@mixin screen-small-only () {
    @media screen and (min-width: $screen-small) and (max-width: $screen-medium) {
        @content;
    }
}


@mixin screen-medium () {
    @media screen and (min-width: $screen-medium) {
        @content;
    }
}

@mixin screen-medium-only () {
    @media screen and (min-width: $screen-medium) and (max-width: $screen-large) {
        @content;
    }
}

@mixin screen-large () {
    @media screen and (min-width: $screen-large) {
        @content;
    }
}

@mixin screen-large-only () {
    @media screen and (min-width: $screen-large) and (max-width: $screen-xlarge) {
        @content;
    }
}


@mixin screen-xlarge () {
    @media screen and (min-width: $screen-xlarge) {
        @content;
    }
}