/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, etc.
 */


/**
 * 1. One off bits of maths to get our base font size in ems and our base line
 *    height in a unitless value.
 */
html {
    font-size: ($base-font-size / 16px) +em; /* [1] */
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    line-height: 1.5;
    color: $text-color;
    background: $base-background;
}

@include screen-mobile {
    html {
        height: 100%;
        height: 100vh;
        max-height: 100%;
        max-height: 100vh;
        overflow: hidden;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
    }
}

@include screen-small {
    html,
    body {
        height: 100%;
    }

	html {
	    font-size: ($base-font-size--small / 16px) +em;
	}
}

@include screen-medium {
	html {
	    font-size: ($base-font-size--medium / 16px) +em;
	}
}