/*------------------------------------*\
    STYLE.SCSS
\*------------------------------------*/
/**
 * Here we start to pull everything together into one big stylesheet.
 *
 * SETUP............Settings, tools, mixins, etc.
 * GENERIC..........normalize.css, reset, shared styles, etc.
 * BASE.............Basic HTML elements.
 * OBJECTS..........Objects, abstractions, design patterns.
 * GUI..............Components and modules.
 * TRUMPS...........Helpers, overrides, ‘trump-cards’.
 */
/*------------------------------------*\
    #SETUP
\*------------------------------------*/
/**
 * Settings, variables and tools.
 */
/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/
/**
 * Pull in all the settings we require for this project.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Base stuff
 * [1] Make everything a bit smaller on low res screens.
 */
/**
 * Colors
 */
/**
 * Alternative colors (darker background)
 */
/**
 * Viewport breakpoints
 */
/**
 * Easing
 */
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/**
 * Logo
 */
/**
 * Sidebar
 */
/**
 * Nav
 */
/**
 * User 
 */
/**
 * Content
 */
/*------------------------------------*\
    #FUNCTIONS
\*------------------------------------*/
/**
 * Some nice functions we can use to make our lives easier. Feel free to add as
 * many as you like!
 */
/**
 * Strip the unit from a number (e.g. 18px --> 18).
 */
/**
 * Basic maths on numbers.
 */
/*------------------------------------*\
    #MIXINS
\*------------------------------------*/
/**
 * Breakpoints
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * These are far reaching styles that affect and underpin every element on the
 * page, e.g. `* {}`.
 */
/*------------------------------------*\
    #GENERIC
\*------------------------------------*/
/**
 * Pull in all our generic styles, e.g. resets.
 */
/*! normalize.css v2.0.1 | MIT License | git.io/normalize */
/* ==========================================================================
   HTML5 display definitions
   ========================================================================== */
/*
 * Corrects `block` display not defined in IE 8/9.
 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

/*
 * Corrects `inline-block` display not defined in IE 8/9.
 */
audio, canvas, video {
  display: inline-block; }

/*
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/*
 * Addresses styling for `hidden` attribute not present in IE 8/9.
 */
[hidden] {
  display: none; }

/* ==========================================================================
   Base
   ========================================================================== */
/*
 * 1. Sets default font family to sans-serif.
 * 2. Prevents iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */ }

/*
 * Removes default margin.
 */
body {
  margin: 0; }

/* ==========================================================================
   Links
   ========================================================================== */
/*
 * Addresses `outline` inconsistency between Chrome and other browsers.
 */
a:focus {
  outline: thin dotted; }

/*
 * Improves readability when focused and also mouse hovered in all browsers.
 */
a:active, a:hover {
  outline: 0; }

/* ==========================================================================
   Typography
   ========================================================================== */
/*
 * Addresses `h1` font sizes within `section` and `article` in Firefox 4+,
 * Safari 5, and Chrome.
 */
h1 {
  font-size: 2em; }

/*
 * Addresses styling not present in IE 8/9, Safari 5, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/*
 * Addresses style set to `bolder` in Firefox 4+, Safari 5, and Chrome.
 */
b, strong {
  font-weight: bold; }

/*
 * Addresses styling not present in Safari 5 and Chrome.
 */
dfn {
  font-style: italic; }

/*
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/*
 * Corrects font family set oddly in Safari 5 and Chrome.
 */
code, kbd, pre, samp {
  font-family: monospace, serif;
  font-size: 1em; }

/*
 * Improves readability of pre-formatted text in all browsers.
 */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

/*
 * Sets consistent quote types.
 */
q {
  quotes: "\201C" "\201D" "\2018" "\2019"; }

/*
 * Addresses inconsistent and variable font size in all browsers.
 */
small, .nav--alt .nav__title, .sidebar__text {
  font-size: 80%; }

/*
 * Prevents `sub` and `sup` affecting `line-height` in all browsers.
 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* ==========================================================================
   Embedded content
   ========================================================================== */
/*
 * Removes border when inside `a` element in IE 8/9.
 */
img {
  border: 0; }

/*
 * Corrects overflow displayed oddly in IE 9.
 */
svg:not(:root) {
  overflow: hidden; }

/* ==========================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE 8/9 and Safari 5.
 */
figure {
  margin: 0; }

/* ==========================================================================
   Forms
   ========================================================================== */
/*
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/*
 * 1. Corrects color not being inherited in IE 8/9.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Corrects font family not being inherited in all browsers.
 * 2. Corrects font size not being inherited in all browsers.
 * 3. Addresses margins set differently in Firefox 4+, Safari 5, and Chrome
 */
button, input, select, textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 2 */
  margin: 0;
  /* 3 */ }

/*
 * Addresses Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
button, input {
  line-height: normal; }

/*
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Corrects inability to style clickable `input` types in iOS.
 * 3. Improves usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/*
 * Re-set default cursor for disabled elements.
 */
button[disabled], input[disabled] {
  cursor: default; }

/*
 * 1. Addresses box sizing set to `content-box` in IE 8/9.
 * 2. Removes excess padding in IE 8/9.
 */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/*
 * 1. Addresses `appearance` set to `searchfield` in Safari 5 and Chrome.
 * 2. Addresses `box-sizing` set to `border-box` in Safari 5 and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/*
 * Removes inner padding and search cancel button in Safari 5 and Chrome
 * on OS X.
 */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/*
 * Removes inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/*
 * 1. Removes default vertical scrollbar in IE 8/9.
 * 2. Improves readability and alignment in all browsers.
 */
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */ }

/* ==========================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/*------------------------------------*\
    $RESET
\*------------------------------------*/
/**
 * A more considered reset; more of a restart... 
 * As per: csswizardry.com/2011/10/reset-restarted
 */
/**
 * Let’s make the box model all nice, shall we…?
 */
*, *:before, *:after {
  box-sizing: border-box; }

/**
 * The usual...
 */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, dl, dd, ol, ul, form, fieldset, legend, table, th, td, caption, hr {
  margin: 0;
  padding: 0; }

/**
 * Give a help cursor to elements that give extra info on `:hover`.
 */
abbr[title], dfn[title] {
  cursor: help; }

/**
 * Remove underlines from potentially troublesome elements.
 */
a, u, ins {
  text-decoration: none; }

/**
 * Apply faux underline via `border-bottom`.
 */
ins {
  border-bottom: 1px solid; }

/**
 * So that `alt` text is visually offset if images don’t load.
 */
img {
  font-style: italic; }

/*------------------------------------*\
    #CLEARFIX
\*------------------------------------*/
/**
 * Micro clearfix, as per: nicolasgallagher.com/micro-clearfix-hack
 * Extend the clearfix class with Sass to avoid the `.cf` class appearing over
 * and over in your markup.
 */
.cf {
  zoom: 1; }
  .cf:before, .cf:after {
    content: " ";
    display: table; }
  .cf:after {
    clear: both; }

/*------------------------------------*\
    #ELEMENTS
\*------------------------------------*/
/**
 * Where `margin-bottom` is concerned, this value will be the same as the
 * base line-height. This allows us to keep a consistent vertical rhythm.
 * As per: csswizardry.com/2012/06/single-direction-margin-declarations
 */
h1, h2, h3, h4, h5, h6, hgroup, ul, ol, dl, blockquote, p, address, table, fieldset, figure, pre {
  margin-bottom: 1rem;
  margin-bottom: 1rem; }

/**
 * Where `margin-left` is concerned we want to try and indent certain elements
 * by a consistent amount. Define that amount once, here.
 */
ul, ol, dd {
  margin-left: 1rem;
  margin-left: 1rem; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 300; }

a {
  font-weight: 400; }

p:last-child {
  margin-bottom: 0; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * These are base HTML elements, things with no classes on them, e.g. `h1 {}`,
 * `blockquote {}`.
 */
/*------------------------------------*\
    #BASE
\*------------------------------------*/
/**
 * Pull in all the base files we want.
 */
/*------------------------------------*\
    #PAGE
\*------------------------------------*/
/**
 * Page-level styling, e.g. `html` and `body` elements, etc.
 */
/**
 * 1. One off bits of maths to get our base font size in ems and our base line
 *    height in a unitless value.
 */
html {
  font-size: 1em;
  /* [1] */
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: #626761;
  background: #EFEFEE; }

@media screen and (max-width: 48.5em) {
  html {
    height: 100%;
    height: 100vh;
    max-height: 100%;
    max-height: 100vh;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0; }
 }

@media screen and (min-width: 48.5em) {
  html, body {
    height: 100%; }

  html {
    font-size: 0.8125em; }
 }

@media screen and (min-width: 64.5em) {
  html {
    font-size: 1em; }
 }

/*------------------------------------*\
    #GUI
\*------------------------------------*/
/**
 * These are your components and modules; things like buttons, accordions,
 * carousels, etc.
 */
/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/
/**
 * Pull in all our GUI components.
 */
.cols {
  letter-spacing: -0.31em;
  text-rendering: optimizespeed;
  -webkit-flex-flow: row wrap;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.cols--center {
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }

.cols--stretch {
  min-height: 100%; }

[class*="cols__"] {
  display: inline-block;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  text-rendering: auto; }

.cols__1 {
  width: 4.1666666667%; }

.cols__2 {
  width: 8.3333333333%; }

.cols__3 {
  width: 12.5%; }

.cols__4 {
  width: 16.6666666667%; }

.cols__5 {
  width: 20.8333333333%; }

.cols__6 {
  width: 25%; }

.cols__7 {
  width: 29.1666666667%; }

.cols__8 {
  width: 33.3333333333%; }

.cols__9 {
  width: 37.5%; }

.cols__10 {
  width: 41.6666666667%; }

.cols__11 {
  width: 45.8333333333%; }

.cols__12 {
  width: 50%; }

.cols__13 {
  width: 54.1666666667%; }

.cols__14 {
  width: 58.3333333333%; }

.cols__15 {
  width: 62.5%; }

.cols__16 {
  width: 66.6666666667%; }

.cols__17 {
  width: 70.8333333333%; }

.cols__18 {
  width: 75%; }

.cols__19 {
  width: 79.1666666667%; }

.cols__20 {
  width: 83.3333333333%; }

.cols__21 {
  width: 87.5%; }

.cols__22 {
  width: 91.6666666667%; }

.cols__23 {
  width: 95.8333333333%; }

.cols__24 {
  width: 100%; }

@media screen and (min-width: 48.5em) {
  .cols__1--sm {
    width: 4.1666666667%; }

  .cols__2--sm {
    width: 8.3333333333%; }

  .cols__3--sm {
    width: 12.5%; }

  .cols__4--sm {
    width: 16.6666666667%; }

  .cols__5--sm {
    width: 20.8333333333%; }

  .cols__6--sm {
    width: 25%; }

  .cols__7--sm {
    width: 29.1666666667%; }

  .cols__8--sm {
    width: 33.3333333333%; }

  .cols__9--sm {
    width: 37.5%; }

  .cols__10--sm {
    width: 41.6666666667%; }

  .cols__11--sm {
    width: 45.8333333333%; }

  .cols__12--sm {
    width: 50%; }

  .cols__13--sm {
    width: 54.1666666667%; }

  .cols__14--sm {
    width: 58.3333333333%; }

  .cols__15--sm {
    width: 62.5%; }

  .cols__16--sm {
    width: 66.6666666667%; }

  .cols__17--sm {
    width: 70.8333333333%; }

  .cols__18--sm {
    width: 75%; }

  .cols__19--sm {
    width: 79.1666666667%; }

  .cols__20--sm {
    width: 83.3333333333%; }

  .cols__21--sm {
    width: 87.5%; }

  .cols__22--sm {
    width: 91.6666666667%; }

  .cols__23--sm {
    width: 95.8333333333%; }

  .cols__24--sm {
    width: 100%; }
 }

@media screen and (min-width: 64.5em) {
  .cols__1--md {
    width: 4.1666666667%; }

  .cols__2--md {
    width: 8.3333333333%; }

  .cols__3--md {
    width: 12.5%; }

  .cols__4--md {
    width: 16.6666666667%; }

  .cols__5--md {
    width: 20.8333333333%; }

  .cols__6--md {
    width: 25%; }

  .cols__7--md {
    width: 29.1666666667%; }

  .cols__8--md {
    width: 33.3333333333%; }

  .cols__9--md {
    width: 37.5%; }

  .cols__10--md {
    width: 41.6666666667%; }

  .cols__11--md {
    width: 45.8333333333%; }

  .cols__12--md {
    width: 50%; }

  .cols__13--md {
    width: 54.1666666667%; }

  .cols__14--md {
    width: 58.3333333333%; }

  .cols__15--md {
    width: 62.5%; }

  .cols__16--md {
    width: 66.6666666667%; }

  .cols__17--md {
    width: 70.8333333333%; }

  .cols__18--md {
    width: 75%; }

  .cols__19--md {
    width: 79.1666666667%; }

  .cols__20--md {
    width: 83.3333333333%; }

  .cols__21--md {
    width: 87.5%; }

  .cols__22--md {
    width: 91.6666666667%; }

  .cols__23--md {
    width: 95.8333333333%; }

  .cols__24--md {
    width: 100%; }
 }

@media screen and (min-width: 92em) {
  .cols__1--lg {
    width: 4.1666666667%; }

  .cols__2--lg {
    width: 8.3333333333%; }

  .cols__3--lg {
    width: 12.5%; }

  .cols__4--lg {
    width: 16.6666666667%; }

  .cols__5--lg {
    width: 20.8333333333%; }

  .cols__6--lg {
    width: 25%; }

  .cols__7--lg {
    width: 29.1666666667%; }

  .cols__8--lg {
    width: 33.3333333333%; }

  .cols__9--lg {
    width: 37.5%; }

  .cols__10--lg {
    width: 41.6666666667%; }

  .cols__11--lg {
    width: 45.8333333333%; }

  .cols__12--lg {
    width: 50%; }

  .cols__13--lg {
    width: 54.1666666667%; }

  .cols__14--lg {
    width: 58.3333333333%; }

  .cols__15--lg {
    width: 62.5%; }

  .cols__16--lg {
    width: 66.6666666667%; }

  .cols__17--lg {
    width: 70.8333333333%; }

  .cols__18--lg {
    width: 75%; }

  .cols__19--lg {
    width: 79.1666666667%; }

  .cols__20--lg {
    width: 83.3333333333%; }

  .cols__21--lg {
    width: 87.5%; }

  .cols__22--lg {
    width: 91.6666666667%; }

  .cols__23--lg {
    width: 95.8333333333%; }

  .cols__24--lg {
    width: 100%; }
 }

@media screen and (min-width: 120em) {
  .cols__1--xlg {
    width: 4.1666666667%; }

  .cols__2--xlg {
    width: 8.3333333333%; }

  .cols__3--xlg {
    width: 12.5%; }

  .cols__4--xlg {
    width: 16.6666666667%; }

  .cols__5--xlg {
    width: 20.8333333333%; }

  .cols__6--xlg {
    width: 25%; }

  .cols__7--xlg {
    width: 29.1666666667%; }

  .cols__8--xlg {
    width: 33.3333333333%; }

  .cols__9--xlg {
    width: 37.5%; }

  .cols__10--xlg {
    width: 41.6666666667%; }

  .cols__11--xlg {
    width: 45.8333333333%; }

  .cols__12--xlg {
    width: 50%; }

  .cols__13--xlg {
    width: 54.1666666667%; }

  .cols__14--xlg {
    width: 58.3333333333%; }

  .cols__15--xlg {
    width: 62.5%; }

  .cols__16--xlg {
    width: 66.6666666667%; }

  .cols__17--xlg {
    width: 70.8333333333%; }

  .cols__18--xlg {
    width: 75%; }

  .cols__19--xlg {
    width: 79.1666666667%; }

  .cols__20--xlg {
    width: 83.3333333333%; }

  .cols__21--xlg {
    width: 87.5%; }

  .cols__22--xlg {
    width: 91.6666666667%; }

  .cols__23--xlg {
    width: 95.8333333333%; }

  .cols__24--xlg {
    width: 100%; }
 }

/*------------------------------------*\
    #CONTENT
\*------------------------------------*/
.content {
  padding: 1em; }

.content__main {
  background: #fff;
  padding: 1em; }

@media screen and (max-width: 48.5em) {
  .content {
    width: 100vw;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }
 }

@media screen and (min-width: 48.5em) {
  .content {
    width: calc(100% - 25%); }

  .content__header {
    height: 3em; }
 }

@media screen and (min-width: 64.5em) {
  .content, .content__main {
    padding: 2em; }

  .content {
    width: calc(100% - 18em); }
 }

/*------------------------------------*\
    #ICON
\*------------------------------------*/
@font-face {
  font-family: 'satchel';
  src: url("/assets/fonts/satchel.eot?jkonwl");
  src: url("/assets/fonts/satchel.eot?#iefixjkonwl") format('embedded-opentype'), url("/assets/fonts/satchel.woff?jkonwl") format('woff'), url("/assets/fonts/satchel.ttf?jkonwl") format('truetype'), url("/assets/fonts/satchel.svg?jkonwl#satchel") format('svg');
  font-weight: normal;
  font-style: normal; }

.icon {
  font-family: 'satchel';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon--receipt:before {
  content: "\e600"; }

.icon--work:before {
  content: "\e601"; }

.icon--recent-actors:before {
  content: "\e602"; }

.icon--menu:before {
  content: "\e603"; }

.icon--folder-special:before {
  content: "\e604"; }

.icon--notifications-on:before {
  content: "\e605"; }

.icon--people:before {
  content: "\e606"; }

/*------------------------------------*\
    #LOGO
\*------------------------------------*/
.logo {
  text-transform: uppercase;
  color: #626761 !important;
  font-weight: 300;
  letter-spacing: -1px;
  margin: 0;
  padding: 0;
  display: inline-block; }

.logo--alt {
  color: #fff !important; }

/*------------------------------------*\
    #NAV
\*------------------------------------*/
.nav__item, .nav__link {
  transition: all 0.2s; }

.nav__item {
  position: relative; }

.nav__link {
  display: block;
  padding: 1em;
  outline: none !important;
  font-weight: 300;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

.nav--alt .nav__wrapper {
  padding-bottom: 1em; }
.nav--alt .nav__title {
  text-transform: uppercase;
  color: #646E61;
  margin-top: 1em;
  padding: 1em; }
.nav--alt .nav__link, .nav--alt .nav__link:active, .nav--alt .nav__link:focus, .nav--alt .nav__link:visited {
  color: #83B677; }
.nav--alt .icon {
  vertical-align: middle;
  margin-right: 1em; }
.nav--alt .nav__label {
  display: inline-block;
  vertical-align: middle; }
.nav--alt .nav__item {
  padding-left: 0.25em;
  width: 99.9%; }
  .nav--alt .nav__item:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 0em;
    height: 100%;
    background: rgba(200, 249, 130, 0);
    transition: all 0.2s; }
.nav--alt .nav__item--selected {
  background: #242623; }
  .nav--alt .nav__item--selected:before {
    width: 0.25em;
    background: #c8f982; }
.nav--alt .nav__item--selected .nav__link {
  color: #C6F9B9; }

/*------------------------------------*\
    #OVERLAY
\*------------------------------------*/
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  transition: opacity 0.5s cubic-bezier(0.55, 0, 0.1, 1); }

.overlay--visible {
  opacity: 0.5;
  z-index: 6; }

.pace {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.pace-inactive {
  display: none; }

.pace .pace-progress {
  background: #83B677;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 0.25em; }

/*------------------------------------*\
    #SIDEBAR
\*------------------------------------*/
.sidebar {
  position: relative; }
  .sidebar h1, .sidebar h2, .sidebar h3, .sidebar h4, .sidebar h5, .sidebar h6 {
    color: #ffffff; }
  .sidebar p {
    color: #778174; }
  .sidebar a {
    color: #83B677; }

.sidebar-trigger {
  display: none; }

.sidebar__back {
  background: #1B1E1B;
  padding: 1em; }

.sidebar__front {
  background: #282C27;
  overflow: hidden; }

.sidebar__header {
  height: 3em; }

.sidebar__section {
  padding: 1em;
  border-bottom: 0.2em solid #242623; }
  .sidebar__section:last-child {
    border-bottom: 0; }

.sidebar__toggler {
  display: none; }

.sidebar__text {
  text-transform: uppercase; }

@media screen and (max-width: 48.5em) {
  .sidebar-trigger, .sidebar {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0; }

  .sidebar {
    z-index: 2;
    width: 80%;
    transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    transition-timing-function: cubic-bezier(0.55, 0, 0.1, 1);
    -webkit-transform: translateX(-100%) translateZ(0);
            transform: translateX(-100%) translateZ(0); }

  .sidebar-trigger {
    display: block;
    width: 2em;
    z-index: 1; }

  .sidebar--visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 7; }

  .sidebar__wrapper {
    overflow-y: auto;
    height: 100%;
    -webkit-overflow-scrolling: touch; }

  .sidebar__toggler {
    display: block;
    position: absolute;
    top: 0;
    left: 99.9%;
    width: 4em;
    padding: 0.5em;
    background: #1B1E1B;
    text-align: center;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

  .sidebar--visible {
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
    z-index: 7; }

  .sidebar__icon, .sidebar__text {
    color: #83B677; }
 }

@media screen and (min-width: 48.5em) {
  .sidebar {
    width: 25%; }

  .sidebar__wrapper {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }

  .sidebar__back {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1;
    display: inline-block; }

  .sidebar__front {
    margin-top: 5em;
    position: relative;
    z-index: 2; }
 }

@media screen and (min-width: 64.5em) {
  .sidebar {
    width: 18em; }
 }

/*------------------------------------*\
    #USER
\*------------------------------------*/
.user--panel .user__image, .user--panel .user__details {
  display: inline-block;
  vertical-align: middle; }
.user--panel .user__image {
  width: 5em;
  height: 5em;
  background-position: center center;
  background-size: 100% auto;
  border: 0.25em solid #242623; }

/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * These are helper classes and overrides that should take precedence over all
 * other styles, e.g. `.float--left {}`.
 */
/*------------------------------------*\
    #TRUMPS
\*------------------------------------*/
/**
 * Pull in all our trumps and overrides.
 */
/*------------------------------------*\
    #WIDTHS
\*------------------------------------*/
/**
 * A series of human-readable widths that can be combined with, and applied to
 * a multitude of other components and objects. Used primarily with
 * `.layout__item`s.
 */
/**
 * Whole
 */
.one-whole {
  width: 100%; }

/**
 * Halves
 */
.one-half, .two-quarters, .three-sixths, .four-eighths, .five-tenths, .six-twelfths {
  width: 50%; }

/**
 * Thirds
 */
.one-third, .two-sixths, .four-twelfths {
  width: 33.333%; }

.two-thirds, .four-sixths, .eight-twelfths {
  width: 66.666%; }

/**
 * Quarters
 */
.one-quarter, .two-eighths, .three-twelfths {
  width: 25%; }

.three-quarters, .six-eighths, .nine-twelfths {
  width: 75%; }

/**
 * Fifths
 */
.one-fifth, .two-tenths {
  width: 20%; }

.two-fifths, .four-tenths {
  width: 40%; }

.three-fifths, .six-tenths {
  width: 60%; }

.four-fifths, .eight-tenths {
  width: 80%; }

/**
 * Sixths
 */
.one-sixth, .two-twelfths {
  width: 16.666%; }

.five-sixths, .ten-twelfths {
  width: 83.333%; }

/**
 * Eighths
 */
.one-eighth {
  width: 12.5%; }

.three-eighths {
  width: 37.5%; }

.five-eighths {
  width: 62.5%; }

.seven-eighths {
  width: 87.5%; }

/**
 * Tenths
 */
.one-tenth {
  width: 10%; }

.three-tenths {
  width: 30%; }

.seven-tenths {
  width: 70%; }

.nine-tenths {
  width: 90%; }

/**
 * Twelfths
 */
.one-twelfth {
  width: 8.333%; }

.five-twelfths {
  width: 41.666%; }

.seven-twelfths {
  width: 58.333%; }

.eleven-twelfths {
  width: 91.666%; }

/*------------------------------------*\
    #TYPE
\*------------------------------------*/
.type--inline {
  margin: 0;
  padding: 0; }

.type--center {
  text-align: center; }

.type--left {
  text-align: left; }

@media screen and (max-width: 48.5em) {
  .type--center-mb {
    text-align: center; }

  .type--left-mb {
    text-align: left; }
 }

@media screen and (min-width: 48.5em) {
  .type--center-sm {
    text-align: center; }

  .type--left-sm {
    text-align: left; }
 }

@media screen and (min-width: 64.5em) {
  .type--center-md {
    text-align: center; }

  .type--left-md {
    text-align: left; }
 }

@media screen and (min-width: 92em) {
  .type--center-lg {
    text-align: center; }

  .type--left-lg {
    text-align: left; }
 }

@media screen and (min-width: 120em) {
  .type--center-xlg {
    text-align: center; }

  .type--left-xlg {
    text-align: left; }
 }

/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target.
 */
.float--none {
  float: none !important; }

.float--right {
  float: right !important; }

.float--left {
  float: left !important; }

.hide {
  display: none; }

@media screen and (min-width: 48.5em) {
  .hide--sm {
    display: none; }

  .float--none-sm {
    float: none !important; }

  .float--right-sm {
    float: right !important; }

  .float--left-sm {
    float: left !important; }
 }

@media screen and (min-width: 64.5em) {
  .hide--md {
    display: none; }

  .float--none-md {
    float: none !important; }

  .float--right-md {
    float: right !important; }

  .float--left-md {
    float: left !important; }
 }

@media screen and (min-width: 92em) {
  .hide--lg {
    display: none; }

  .float--none-lg {
    float: none !important; }

  .float--right-lg {
    float: right !important; }

  .float--left-lg {
    float: left !important; }
 }

@media screen and (min-width: 120em) {
  .hide--xlg {
    display: none; }

  .float--none-xlg {
    float: none !important; }

  .float--right-xlg {
    float: right !important; }

  .float--left-xlg {
    float: left !important; }
 }

.space {
  margin: 1em !important; }

.space--top {
  margin-top: 1em !important; }

.space--left {
  margin-left: 1em !important; }

.space--right, .user--panel .user__image {
  margin-right: 1em !important; }

.space--bottom {
  margin-bottom: 1em !important; }

.space--inset {
  padding: 1em; }

.space--top-inset {
  padding-top: 1em !important; }

.space--left-inset {
  padding-left: 1em !important; }

.space--right-inset {
  padding-right: 1em !important; }

.space--bottom-inset {
  padding-bottom: 1em !important; }

.nav, .nav__wrapper {
  margin: 0;
  padding: 0;
  list-style: none; }

.user--panel .user__image {
  border-radius: 50em; }

.sidebar__toggler {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; }

.loading * {
  transition: none !important; }
