<h1>Grid</h1>
<div class="cols">
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
	<div class="cols__1">1</div>
</div>

<div class="cols">
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
	<div class="cols__24 cols__12--sm cols__6--md cols__3--lg">Column</div>
</div>




<textarea type="text" style="width: 100%" ng-model="headingsText" ng-init="headingsText = 'Quisque lacus enim, placerat ac arcu eu, pulvinar ullamcorper lorem'"></textarea>

<textarea type="text" style="width: 100%" ng-model="paragraphText" ng-init="paragraphText = 'Sed fermentum finibus orci vitae semper. Sed a malesuada metus. Nulla facilisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Nam ac sapien mauris. Phasellus id lacinia tortor, at eleifend quam.'"></textarea>

<h1>{{ headingsText }}</h1>
<h2>{{ headingsText }}</h2>
<h3>{{ headingsText }}</h3>
<h4>{{ headingsText }}</h4>
<h5>{{ headingsText }}</h5>
<h6>{{ headingsText }}</h6>


<h1>{{ headingsText }}</h1>
<p>{{ paragraphText }}</p>
<p>{{ paragraphText }}</p>

<ul>
	<li>Item 1</li>
	<li>Item 2</li>
	<li>Item 3</li>
	<li>Item 4</li>
	<li>Item 5</li>
	<ul>
		<li>Item 1</li>
		<li>Item 2</li>
		<li>Item 3</li>
		<li>Item 4</li>
		<li>Item 5</li>
		<ul>
			<li>Item 1</li>
			<li>Item 2</li>
			<li>Item 3</li>
			<li>Item 4</li>
			<li>Item 5</li>
		</ul>
	</ul>
</ul>

<table>
	<tr>
		<th>Table Heading 1</th>
		<th>Table Heading 2</th>
		<th>Table Heading 3</th>
		<th>Table Heading 4</th>
		<th>Table Heading 5</th>
	</tr>
	<tr>
		<td>Table Data 1</td>
		<td>Table Data 2</td>
		<td>Table Data 3</td>
		<td>Table Data 4</td>
		<td>Table Data 5</td>
	</tr>
	<tr>
		<td>Table Data 1</td>
		<td>Table Data 2</td>
		<td>Table Data 3</td>
		<td>Table Data 4</td>
		<td>Table Data 5</td>
	</tr>
	<tr>
		<td>Table Data 1</td>
		<td>Table Data 2</td>
		<td>Table Data 3</td>
		<td>Table Data 4</td> 
		<td>Table Data 5</td>
	</tr>
	<tr>
		<td>Table Data 1</td>
		<td>Table Data 2</td>
		<td>Table Data 3</td>
		<td>Table Data 4</td>
		<td>Table Data 5</td>
	</tr>
	<tr>
		<td>Table Data 1</td>
		<td>Table Data 2</td>
		<td>Table Data 3</td>
		<td>Table Data 4</td>
		<td>Table Data 5</td>
	</tr>
</table>

<label>Input label</label>
<input type="text" placeholder="Enter text..." />

<label>Input label</label>
<input type="checkbox" />

<label>Input label</label>
<input type="radio" name="radio" />

<label>Input label</label>
<input type="radio" name="radio" />

</br>

<input type="checkbox" />
<label>Input label</label>

<input type="radio" name="radio" />
<label>Input label</label>

<input type="radio" name="radio" />
<label>Input label</label>


