<h1 class="page-header">Client Manager</h1>
<p class="lead">Manage all Satchel clients.</p>

<div ui-view></div>

<table class="table">
	<tr>
		<th>#</th>
		<th>Client name</th>
		<th>Actions</th>
	</tr>
	<tr ng-repeat="client in ClientManager.data">
		<td>{{ $index + 1 }}</td>
		<td>{{ client.name }}</td>
		<td>
			<a ng-href="#/client-manager/{{ client.id }}" class="btn btn-primary">Edit</button>
		</td>
	</tr>
</table>