/*------------------------------------*\
    #HELPERS
\*------------------------------------*/
/**
 * A selection of abstracted helper classes. Only use these if there is not
 * already a class on the element you wish to target.
 */


.float--none    { float: none !important; }
.float--right   { float: right!important; }
.float--left    { float: left !important; }

.hide { display: none; }

@include screen-small {
    .hide--sm { display: none; }

    .float--none-sm    { float: none !important; }
    .float--right-sm   { float: right!important; }
    .float--left-sm    { float: left !important; }
}

@include screen-medium {
    .hide--md { display: none; }

    .float--none-md    { float: none !important; }
    .float--right-md   { float: right!important; }
    .float--left-md    { float: left !important; }
}

@include screen-large {
    .hide--lg { display: none; }

    .float--none-lg    { float: none !important; }
    .float--right-lg   { float: right!important; }
    .float--left-lg    { float: left !important; }
}

@include screen-xlarge {
    .hide--xlg { display: none; }

    .float--none-xlg    { float: none !important; }
    .float--right-xlg   { float: right!important; }
    .float--left-xlg    { float: left !important; }
}

.space         { margin: $base-spacing !important; }
.space--top    { margin-top:    $base-spacing !important; }
.space--left   { margin-left:   $base-spacing !important; }
.space--right  { margin-right:  $base-spacing !important; }
.space--bottom { margin-bottom: $base-spacing !important; }

.space--inset        { padding: $base-spacing; }
.space--top-inset    { padding-top:    $base-spacing !important; }
.space--left-inset   { padding-left:   $base-spacing !important; }
.space--right-inset  { padding-right:  $base-spacing !important; }
.space--bottom-inset { padding-bottom: $base-spacing !important; }

%reset {
	margin: 0;
	padding: 0;
	list-style: none;
}

%circle {
	border-radius: 50em;
}

%no-select {
    user-select: none; 
}

// This class gets removed when page loads. It's useful
// to disable stuff on initial page load such as transitions
// or to show a splash page.
.loading {
    * {
        transition: none !important;
    }
}