/*------------------------------------*\
    #TYPE
\*------------------------------------*/

.type--inline {
	margin: 0;
	padding: 0; 
}

.type--center { text-align: center; }
.type--left	  { text-align: left; }

@include screen-mobile {
	.type--center-mb { text-align: center; }
	.type--left-mb	 { text-align: left; }
}

@include screen-small {
	.type--center-sm { text-align: center; }
	.type--left-sm	 { text-align: left; }
}

@include screen-medium {
	.type--center-md { text-align: center; }
	.type--left-md	 { text-align: left; }
}

@include screen-large {
	.type--center-lg { text-align: center; }
	.type--left-lg	 { text-align: left; }
}

@include screen-xlarge {
	.type--center-xlg { text-align: center; }
	.type--left-xlg	 { text-align: left; }
}