<!DOCTYPE html>
<html lang="en" ng-app="satchel">

<head>
    <title>Satchel</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="#1B1E1B">
    <meta name="theme-color" content="#1B1E1B">
    <link rel="icon" sizes="192x192" href="launcher-icon-4x.png">
    <link rel="icon" sizes="128x128" href="launcher-icon-128x128.png">
    <link rel="apple-touch-icon" sizes="128x128" href="launcher-icon-128x128.png">
    <link rel="apple-touch-icon-precomposed" sizes="128x128" href="launcher-icon-128x128.png">
    <link rel="manifest" href="manifest.json">
    <link href="http://fonts.googleapis.com/css?family=Roboto:500,300,400" rel="stylesheet">
    <link rel="stylesheet" href="/assets/css/style.css">
</head>
<body ng-controller="satchel.PageController as Page" class="loading">
    
    <div class="cols cols--stretch">

        <aside class="sidebar cols__24" 
            ng-class="{ 'sidebar--visible': Page.navigationVisible }" 
            ng-swipe-left="Page.closeNavigation()">
            
            <div class="sidebar__toggler" 
                ng-swipe-left="Page.closeNavigation()"
                ng-swipe-right="Page.openNavigation()"
                ng-click="Page.toggleNavigation()">

                <i class="icon icon--menu sidebar__icon"></i>
                <div class="sidebar__text">Menu</div>    
            </div>

            <div class="sidebar__wrapper">
                <div class="sidebar__back">
                    <div class="sidebar__header">
                        <h1 class="logo logo--alt" ui-sref="home" ng-click="Page.updateState()">Satchel</h1>
                    </div>
                </div>
                
                <div class="sidebar__front">

                    <div class="[ user user--panel ] sidebar__section">
                        <div class="user__image" style="background-image: url(/assets/img/users/marzna.png)"></div>
                        <div class="user__details">
                            <h3 class="type--inline">Hello Marzena!</h3>
                            <p class="type--inline"><a ui-sref="profile" ng-click="Page.updateState()">Profile</a></p>
                        </div>
                    </div>

                    <nav class="[ nav nav--alt ] sidebar__section">
                        <ul class="nav__wrapper">
                            <li class="nav__title">Manage your workflow</li>
                        	<li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="manage-quotations" ng-click="Page.updateState()">
                                    <i class="icon icon--receipt"></i> 
                                    <span class="nav__label">Manage Quotations</span>
                                </a>
                            </li> 
                        	<li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="organise-jobs" ng-click="Page.updateState()">
                                    <i class="icon icon--work"></i> 
                                    <span class="nav__label">Organise Jobs</span>
                                </a>
                            </li>
                            <li class="nav__title">Manage your company</li>
                            <li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="employees-book" ng-click="Page.updateState()">
                                    <i class="icon icon--recent-actors"></i> 
                                    <span class="nav__label">Employees Book</span>
                                </a>
                            </li>
                            <li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="products-and-services" ng-click="Page.updateState()">
                                    <i class="icon icon--folder-special"></i> 
                                    <span class="nav__label">Products &amp; Services</span>
                                </a>
                            </li>
                            <li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="manage-clients" ng-click="Page.updateState()">
                                    <i class="icon icon--people"></i> 
                                    <span class="nav__label">Manage Clients</span>
                                </a>
                            </li>
                            <li ui-sref-active="nav__item--selected" class="nav__item">
                                <a class="nav__link" ui-sref="ui" ng-click="Page.updateState()">
                                    <i class="icon icon--people"></i> 
                                    <span class="nav__label">UI</span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                    <div class="sidebar__section">
                        <p><small>Need help? <a ui-sref="contact" ng-click="Page.updateState()">Contact</a> Satchel support team.</small></p>
                    </div>
                </div>
            </div>
        </aside>

        <div class="sidebar-trigger" 
            ng-swipe-right="Page.openNavigation()"></div>

        <div class="content cols__24" ng-cloak>
            <div class="type--center-mb content__header">
                <h1 class="logo hide--sm" ui-sref="home">Satchel</h1>
                <h3><span ng-repeat="part in Page.breadcrumb">{{ part }} {{ $last ? '' : ' > ' }}</span></h3>
            </div>

            <div class="content__main" ui-view></div>
        </div>

    </div>

    <div class="overlay" 
        ng-class="{ 'overlay--visible': Page.navigationVisible }" 
        ng-click="Page.closeNavigation()" 
        ng-swipe-left="Page.closeNavigation()"></div>

    <script src="/assets/libs/pace/pace.js"></script>
    <script src="/assets/libs/angular/angular.js"></script>
    <script src="/assets/libs/angular-touch/angular-touch.js"></script>
    <script src="/assets/libs/ui-router/release/angular-ui-router.js"></script>
    <script src="/dist/app.js"></script>
    <script src="/dist/app.controllers.js"></script>
    <script src="/dist/app.directives.js"></script>
    <script src="/dist/app.filters.js"></script>
    <script src="/dist/app.services.js"></script>
    <script src="/dist/app.models.js"></script>
</body>
</html>