/*------------------------------------*\
    #GENERIC
\*------------------------------------*/

/**
 * Base stuff
 * [1] Make everything a bit smaller on low res screens.
 */

$base-font-size: 			16px;
$base-font-size--small: 	13px; // [1]
$base-font-size--medium: 	$base-font-size;

$base-line-height: 24px;

$base-spacing: 1em;

$base-background: #EFEFEE;

/**
 * Colors
 */

$text-color: #626761;

/**
 * Alternative colors (darker background)
 */

$alt-color--1: #1B1E1B;
$alt-color--2: #282C27;
$alt-color--3: #242623;

$alt-text-color: 			#778174;
$alt-link-color: 			#83B677;
$alt-link-color--selected: 	#C6F9B9; 
$alt-headings-color:		#ffffff;

/**
 * Viewport breakpoints
 */

$screen-small: 48.5em;
$screen-medium: 64.5em;
$screen-large: 92em;
$screen-xlarge: 120em;

/**
 * Easing
 */

$base-easing: cubic-bezier(.55,0,.1,1);

/*------------------------------------*\
    #COMPONENTS
\*------------------------------------*/

/**
 * Logo
 */

$logo-color: 		$text-color;
$alt-logo-color: 	#fff;

/**
 * Sidebar
 */

$sidebar-width--small: 25%;
$sidebar-width--medium: 18em;
$sidebar-width--mobile: 80%;
$sidebar-border-style: .2em solid $alt-color--3;
$sidebar-header-height: 3em;
$sidebar-nav-distance: $sidebar-header-height + ($base-spacing * 2);

/**
 * Nav
 */

$nav-pipe-width: .25em;
$nav-pipe-color: #C8F982;

$nav-title-color: #646E61;

/**
 * User 
 */

$user-panel-image-width: 5em;
$user-panel-image-height: 5em;
$user-image-border-style: .25em solid #242623;

/**
 * Content
 */

$content-header-height: $sidebar-header-height;
$content-width--small: calc(100% - #{$sidebar-width--small});
$content-width--medium: calc(100% - #{$sidebar-width--medium});
$content-background: #fff;